.rsvp-link {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: #300D02;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  border-radius: 0px;
  background-color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.46em 1.23em;
  outline: 0;
}